<div class='search-results-container' ng-if='searchResults'>
	<div class='search-arrow-icon-container'>
		<i class="fa fa-sort-asc fa-3x" aria-hidden="true"></i>
	</div>
	<div class='search-results-user-container' ng-repeat='user in searchUsers | filter: searchForUsers'>
		<a ui-sref='profile({username: user.username})' class='search-userLink'>
			<div class='search-results-user-wrapper'>
				<div class='search-thumbnail-container'>
					<img ng-src='{{user.profilePic}}' class='search-thumbnail'>
				</div>
				<div class='search-names-container'>
					<div class='search-username-container'>
						<h3>{{user.username}}</h3>
					</div>
					<div class='search-name-container' ng-if='fullname'>
						<h3>{{user.name.firstname}} {{user.name.lastname}}</h3>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
