<div class="nav-container">

	<div class='nav-content-container'>

		<div class='nav-logo-container'>
			<a ui-sref='home'>
				<h1 class='nav-company-name'>Scraps</h1>
			</a>
		</div>

		<div class='nav-search-input-container'>
			<div class='nav-search-input-wrapper'>
				<i class="fa fa-search fa-1x" aria-hidden="true"></i>
				<input type='search' ng-model='searchForUsers' placeholder='Search' pattern=".{1,}" required class='search-input'>
			</div>

			<search-results></search-results>

		</div>

		<div class='nav-links-container'>

			<div class='login-container'>
				<button class='nav-login nav-links' ng-if='loginBtn'>
					<a ui-sref='login'>Login</a>
				</button>
			</div>

			<div class='signup-container'>
				<button class='nav-signUp nav-links' ng-if='signUpBtn'>
					<a ui-sref='register'>Sign Up</a>
				</button>
			</div>
			<div class='profileLink-container' ng-if='profileLink'>
				<a ui-sref='profile({username: currentUser.username})' class='nav-links nav-profileLink'>
					<i class="fa fa-user fa-2x" aria-hidden="true"></i>
				</a>
			</div>
			<div class='logout-container' ng-if='logoutBtn'>
				<form class='nav-links nav-logout' action='/auth/logout' method='get'>
					<input type='submit' value='Logout'>
				</form>
			</div>
		</div>


	</div>