<div class="nav-container">

	<div class='nav-content-container'>

		<div class='nav-logo-container'>
			placeholder
		</div>

		<div class='nav-search-container'> <i class="fa fa-search fa-1x" aria-hidden="true"></i>
			<input>
		</div>

		<div class='nav-links-container'>

			<div class='nav-links login-container'>
				<button class='nav-login' ng-if='loginBtn'>
					<a ui-sref='login'>Login</a>
				</button>
			</div>

			<div class='nav-links signup-container'>
				<button class='nav-signUp' ng-if='signUpBtn'>
					<a ui-sref='register'>Sign Up</a>
				</button>
			</div>
			<div class='nav-links profileLink-container'>
				<a ui-sref='profile({username: currentUser.username})' class='nav-profileLink'>
					<i class="fa fa-user fa-2x" aria-hidden="true" ng-if='profileLink'></i>
				</a>
			</div>
			<div class='nav-links logout-container'>
				<form class='nav-logout' ng-if='logoutBtn' action='/auth/logout' method='get'>
					<input type='submit' value='Logout'>
				</form>
			</div>
		</div>

	</div>

</div>
