<nav-bar>
</nav-bar>

<div class='following-page-container'>

	<div class='following-content-container'>

		<div ng-repeat='post in posts track by $index' class='post-container' check-following-likes>

			<div class='post-header-container'>

				<div class='post-thumbnail-container'>
					<img ng-src='{{post.profilePic}}' class='post-thumbnail'>
				</div>

				<a ui-sref='profile({username: post.username})'><h3>{{post.username}}</h3></a>



			</div>
			<div class='following-photo-wrapper'>
				<div class='following-photo-container'>
					<a ng-click="openLightboxModal($index)">
						<img ng-src='{{post.image}}' class='following-photo'>
					</a>
				</div>
			</div>
			<div class='following-photo-footer-container'>
				<div class='following-description-like-container'>
					<div class='following-like-container' ng-if='like'>
						<i class="fa fa-heart like" aria-hidden="true" like-following-photo></i>
					</div>
					<div class='following-like-container' ng-if='liked'>
						<i class="fa fa-heart liked" aria-hidden="true" unlike-following-photo></i>
					</div>
					<div class='post-like-count-container'>
						<h3 ng-if='post.likes.length > 0' class='like-count'>{{post.likes.length}}</h3>
					</div>

					<div class=' following-photo-description-container '>
						<h3 class='following-photo-description'>{{post.description}}</h3>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>




<page-footer></page-footer>
