<nav-bar></nav-bar>
<div class='main-user-container'>
	<div class='user-content-container'>
		<div class='user-header'>
			<div class='user-profilePic-wrapper'>
				<div class='user-profilePic-container'>

					<img class='user-profilePic' ng-src='{{userInfo.profilePic}}'>

				</div>

				<input class='user-profilePic-upload' ng-if='uploadProfilePicBtn' type='file' value='Upload Profile Pic' images='images' accept='image/*' profile-pic-upload>
			</div>
			<div class='userInfo-container'>

				<div class='userInfo-row one'>
					<h3 class="userInfo-username">{{userInfo.username}}</h3>
					<button class='follow-user-btn' ng-if='followBtn' ng-click='followUser()'>Follow</button>
					<button ng-if='unfollowBtn' class='unfollow-user-btn' ng-click='unfollowUser()'>Unfollow</button>
					<a class='userInfo-settingsLink' ng-if='editAccountBtn' ui-sref='accountSettings'>
						<button type="button" class='userInfo-settinsBtn'>Edit Profile</button>
					</a>
				</div>

				<div class='userInfo-row two'>
					<h3 class='userInfo-fullname'>{{userInfo.name.firstname}} {{userInfo.name.lastname}}</h3>
					<p class='userInfo-bio'>{{userInfo.bio}}</p>
				</div>

				<div class='userInfo-row three'>
					<h3 class='userInfo-stats'> <span class='stats-number'>{{postCount}}</span> Posts</h3>
					<h3 class='userInfo-stats'> <span class='stats-number'>{{followersCount}}</span> Followers</h3>
					<h3 class='userInfo-stats'> <span class='stats-number'>{{followingCount}}</span> Following</h3>
				</div>
			</div>

		</div>

		<div class='user-controls-container' ng-if='userControls'>
			<input class='user-upload-photoBtn' ng-if='uploadPhotoBtn' type='file' value='Upload A Photo' images='images' accept='image/*' post-photo>
		</div>
		<div class='user-posts-container'>

			<div class='user-photo-wrapper' ng-repeat='photo in photos track by $index'>
				<div class='photoInfo location'>
					<h3 class='photo-details'>{{photo.location}}</h3>
				</div>
				<div class='user-photo-container'>
					<img ng-src='{{photo.image}}' class='user-photo'>
				</div>
				<div class='photoInfo description'>
					<h3 class='photo-details'>{{photo.description}}</h3>
				</div>

				<button ng-show='editPhotoBtnVisible' ng-click='editPhotoEnabled($index)'>Edit Photo</button>
				<div ng-show='photo.photoEditOptions'>
					<input placeholder='Describe this photo' ng-model='photo.description'>
					<input placeholder='When was this taken?' ng-model='photo.date'>
					<input placeholder='Where was this taken?' ng-model='photo.location'>
					<input type='submit' ng-click='updatePhoto(photos[$index], photo._id)' value='Save Changes'>
					<button ng-click='cancelEditingPhoto($index)'>Cancel</button>
					<button ng-click='deletePhoto(photo._id)' ng-if='deletePhotoBtn'>Delete</button>
				</div>
			</div>





		</div>
	</div>
</div>

<page-footer></page-footer>
