/*FOLLOWING PAGE*/

.following-page-container {
	min-height: 84vh;
	width: 100%;
	display: flex;
	justify-content: center;
}

.following-content-container {
	display: flex;
	flex-direction: column;
	width: 35%;
	height: 100%;
}

.post-container {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	align-items: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, .45);
	margin: 60px 0;
}

.post-header-container {
	display: flex;
	flex-flow: row nowrap;
	height: 64px;
	width: 100%;
	align-items: center;
}

.post-thumbnail-container {
	margin-left: 15px;
	margin-right: 15px;
}

.post-thumbnail {
	height: 36px;
	width: 36px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px solid #cccfd0;
	overflow: hidden;
	position: relative;
}

.following-photo-wrapper {
	display: flex;
	justify-content: center;
}

.following-photo-container {
	height: auto;
	max-width: 600px;
	display: block;
	overflow: hidden;
	flex-shrink: 1;
	border-right: 6px solid #FAFAFA;
	border-left: 6px solid #FAFAFA;
}

.following-photo {
	height: auto;
	width: 100%;
}

.following-photo-footer-container {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
}

.following-like-cotainer {
	margin-left: 6px;
	display: flex;
	align-items: center;
	margin-right: 2px;
}

.following-like-count-container {
	width: 5px;
}

.like-count {
	color: #FFC04c;
	font-weight: 700;
}

.following-description-like-container {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	padding: 2px 6px;
}

.following-photo-description-container {
	display: flex;
	width: 100%;
	margin-left: 6px;
}

.following-photo-description {
	font-size: 14px;
}

.following-like-container {
	margin-right: 5px;
}
