/*FOOTER*/

.footer-container {
	display: flex;
	height: 8%;
	width: 100%;
	justify-content: center;
	background-color: #FFC04C;
	position: relative;
	margin-top: auto;
	box-shadow: 0 0 5px rgba(0, 0, 0, .13);
}

.footer-content-container {
	width: 72%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 35px 0 35px;
}

.footer-copyright-container {
	display: flex;
	flex-direction: row;
}

.footer-copyright-container h4 {
	color: #FFF;
}
