/*HOME PAGE*/

.home-main-container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 84vh;
	padding-bottom: 20px;
}

.home-content-container {
	width: 72%;
	height: auto;
	margin-top: 25px;
	display: flex;
	justify-content: center;
}

.home-siteInfo-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 19px;
}

.home-header-container {
	display: flex;
	justify-content: center;
}

.home-company-name {
	font-family: bad-script;
}

.home-info-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.home-info-container p {
	width: 50%;
}