/*ICONS*/

.fa {
	color: #FE9873;
	font-weight: 700;
}

.fa-sort-asc {
	height: 20px;
}

.search-icon {
	color: #ccc;
}

.like {
	color: #CCC;
	cursor: pointer;
}

.like:hover {
	color: #FE9873;
}

.liked {
	color: #FE9873;
	cursor: pointer;
}

.liked:hover {
	color: #CCC;
}

.fa-pencil {
	color: #CCC;
	cursor: pointer;
}

.fa-pencil:hover {
	color: #FE9873;
}
