/*ICONS*/

.fa {
	color: #ffc04c;
	font-weight: 700;
}

.fa-sort-asc {
	height: 20px;
}

.like {
	color: #CCC;
	cursor: pointer;
}

.like:hover {
	color: #FFC40C;
}

.liked {
	color: #ffc40c;
	cursor: pointer;
}

.liked:hover {
	color: #CCC;
}

.fa-pencil {
	color: #CCC;
	cursor: pointer;
}

.fa-pencil:hover {
	color: #ffc40c;
}
