.nav-container {
	width: 100%;
	height: 8%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	box-shadow: 0 0 5px rgba(0, 0, 0, .7);
}

.nav-content-container {
	width: 72%;
	height: 50%;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.nav-company-name {
	font-family: bad-script;
	color: #FE9873;
	font-weight: 700;
}

.nav-links-container {
	display: flex;
	text-align: center;
	flex-direction: row;
	align-items: center;
	flex-basis: 150px;
	justify-content: space-between;
}

.nav-links {
	height: 30px;
	color: #FE9873;
	cursor: pointer;
	outline: none;
}

.nav-btn {
	background: #FAFAFA;
	color: #FE9873;
	border: 1px solid #FE9873;
}

.nav-btn:hover {
	background: #FE9873;
	color: #FAFAFA
}

.logout-btn {
	font-size: 14px;
	height: 30px;
	cursor: pointer;
	border: 1px solid #FE9873;
	background-color: #FAFAFA;
	color: #FE9873;
}

.logout-btn:hover {
	background-color: #FE9873;
	color: #FAFAFA;
}
