.nav-container {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffe566;
}

.nav-content-container {
	width: 72%;
	height: 50%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.nav-logo-container {}

.nav-company-name {
	font-family: bad-script;
	color: #FFF;
}

.nav-search-container {
	text-align: center;
	position: relative;
}

.nav-search {
	width: 100%;
}

.nav-links-container {
	display: flex;
	text-align: center;
	flex-direction: row;
	align-items: center;
}

.fa-search {
	z-index: 2;
}

.nav-links {
	margin-left: 20px;
}