/*PAGE STRUCTURE*/

.main-user-container {
	width: 100%;
	display: flex;
	height: auto;
	justify-content: center;
	min-height: 84vh;
}

.user-content-container {
	width: 60%;
	height: 100%;
	margin-top: 40px;
	margin-bottom: 20px;
}


/*PROFILE PAGE HEADER--USER INFO*/

.user-header {
	display: flex;
	align-items: center;
	padding: 20px 20px;
	margin-bottom: 45px;
	justify-content: center
}

.user-profilePic-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 0;
	flex-grow: 1;
	margin-right: 15px;
	border-right: 1px solid #FFC04C;
}

.user-profilePic-container {
	height: 152px;
	width: 152px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px solid #cccfd0;
	overflow: hidden;
	position: relative;
}

.user-profilePic {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	/*	width: 260px;*/
	/*	object-fit: contain;*/
	width: 100%;
}

.user-profilePic-upload {
	width: 90px;
}

.userInfo-container {
	display: flex;
	flex-direction: column;
	flex-basis: 25px;
	flex-grow: 3.25;
}

.userInfo-row {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin-bottom: 14px;
}

.userInfo-username {
	font-size: 34px;
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.follow-user-btn {
	margin-left: 20px;
}

.userInfo-settingsLink {
	margin-left: 20px;
}

.userInfo-fullname {
	font-size: 27px;
	margin-right: 10px;
}

.userInfo-bio {
	font-size: 17px;
	align-self: flex-end;
}

.userInfo-stats {
	margin-right: 10px;
	font-size: 17px;
}

.stats-number {
	font-weight: 600;
}

.user-upload-photoBtn {
	margin: 0 auto;
}


/*USER CONTROLS*/

.user-controls-container {
	display: flex;
	align-items: center;
	justify-content: center;
}


/*POSTS CONTAINER*/

.user-posts-container {
	margin-top: 10px;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	margin-bottom: 20px;
	justify-content: flex-start;
	padding: 20px 20px 20px 20px;
}

.user-photo-wrapper {
	display: flex;
	flex-direction: column;
	flex-basis: 0;
	margin: 15px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .13);
}

.user-photo-container {
	height: 300px;
	width: 300px;
	display: block;
	overflow: hidden;
	border-right: 6px solid #FAFAFA;
	border-left: 6px solid #FAFAFA;
}

.user-photo {
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	object-fit: scale-down;
}

.photo-details {
	font-size: 14px;
	color: #ffc04c;
}

.photoInfo {
	height: 20px;
	/*background-color: #FFC04C;*/
	display: flex;
	align-items: center;
	margin-left: 6px;
}
