/*SETTINGS*/

.settings-main-container {
	display: flex;
	width: 100%;
	height: 84%;
	justify-content: center;
	align-items: center;
}

.settings-content-container {
	width: 50%;
	height: 80%;
	display: flex;
	flex-direction: row;
	border: 2px solid #FE9873;
}

.settings-options-container {
	display: flex;
	flex-direction: column;
	flex-basis: 236px;
	padding: 15px 15px 15px 30px;
	border-right: 2px solid #FE9873;
}

.settings-list-item {
	display: flex;
	width: 75%;
	justify-content: center;
}

.settings-form-container {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	width: 75%;
	margin: 75px;
}

.settings-form-option-container {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	align-items: center;
	margin-bottom: 20px;
}

.settings-form-left {
	display: flex;
	margin-right: 20px;
	justify-content: flex-end;
	flex-basis: 150px;
}

.settings-form-right {
	flex-basis: 355px;
	display: flex;
	/*padding-right: 60px;*/
	/*	flex: 1;*/
}

.settings-form-input {
	flex: 1;
	height: 32px;
	padding-left: 10px;
	font-size: 16px;
}

.settings-bio {
	height: 60px;
	padding-top: 6px;
}

.settings-save-btn {
	padding: 5px 10px;
	color: #FE9873;
	background: #FAFAFA;
	border: 1px solid #FE9873;
	cursor: pointer;
}

.settings-save-btn:hover {
	color: #FAFAFA;
	background: #fe9873;
}
