*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100vh;
	background-color: #FAFAFA
}


/*So that the browser won't display a template until app is loaded*/

[ng\:cloak],
[ng-cloak],
.ng-cloak {
	display: none !important;
}

a {
	text-decoration: none;
	color: #FFF;
	cursor: pointer;
}

.btn {
	cursor: pointer;
}
