*,
*:before,
*:after {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100vh;
}

a {
	text-decoration: none;
}

/*.userInfo-container {
	width: 100%;
	height: 25%;
	border: 1px solid red;
}


.profilePic-container {
	background-color: gold;
	width: 300px;
	height: 200px;
}*/

.profilePic {
	background-image: url('ng-src');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
