<nav-bar></nav-bar>

<div class='settings-main-container'>
	<div class='settings-content-container'>
		<div class='settings-options-container'>

			<ul class='settings-list-item'>
				<li>Edit Profile</li>
			</ul>

		</div>
		<div class='settings-form-container'>
			<form ng-submit="editProfile()">
				<div class='settings-form-option-container'>
					<div class='settings-form-left'>
						<label>First name</label>
					</div>
					<div class='settings-form-right'>
						<input ng-model='currentUser.name.firstname' value='currentUser.name.firstname' placeholder="First Name" class='settings-form-input'>
					</div>
				</div>
				<div class='settings-form-option-container'>
					<div class='settings-form-left'>
						<label>Last name</label>
					</div>
					<div class='settings-form-right'>
						<input ng-model='currentUser.name.lastname' value='currentUser.name.lastname' placeholder="First Name" class='settings-form-input'>
					</div>
				</div>
				<div class='settings-form-option-container'>
					<div class='settings-form-left'>
						<label>Username</label>
					</div>
					<div class='settings-form-right'>
						<input ng-model='currentUser.username' value='currentUser.username' placeholder="currentUser.username" class='settings-form-input'>
					</div>
				</div>
				<div class='settings-form-option-container'>
					<div class='settings-form-left'>
						<label>Email</label>
					</div>
					<div class='settings-form-right'>
						<input ng-model='currentUser.email' value='currentUser.email' placeholder="Email" class='settings-form-input'>
					</div>
				</div>
				<div class='settings-form-option-container'>
					<div class='settings-form-left'>
						<label>Bio</label>
					</div>
					<div class='settings-form-right'>
						<textarea type="text" ng-model='currentUser.bio' value='currentUser.bio' placeholder="Tell people about yourself! 150 characters or less" class='settings-form-input settings-bio'></textarea>
					</div>
				</div>
				<div class='settings-form-option-container'>
					<div class='settings-form-left'></div>
					<div class='settings-form-right'>
						<input type='submit' value='Save' class='settings-save-btn' />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<page-footer></page-footer>
