<button><a ui-sref='profile({username: user.username})' ng-if='profileLink'>Profile</a></button>

<h1>Edit Profile</h1>
<form ng-submit="editProfile()">
	<div>
		First Name: <input ng-model='user.name.firstname' value='user.name.firstname' placeholder="First Name">
	</div>
	<div>
		Last Name: <input ng-model='user.name.lastname' value='user.name.lastname' placeholder="First Name">
	</div>
	<div>
		Username: <input ng-model='user.username' value='user.username' placeholder="Username">
	</div>
	<div>
		Email: <input ng-model='user.email' value='user.email' placeholder="Email">
	</div>
	<div>
		Bio: <textarea type="text" ng-model='user.bio' value='user.bio' placeholder="Tell people about yourself! 150 characters or less"></textarea>
	</div>
	<div>
		<input type="submit" value="Submit"/>
	</div>
</form>
